* {
	box-sizing: border-box;
	/* outline: 1px solid limegreen !important; */
}
#root {
	height: 100%;
}
html,
body {
	height: 100%;
	margin: 0;
}
.App {
	height: 100%;
	overflow-x: auto;
}
.large-container {
	padding: 50px;
}
.settings-button {
	display: block;
	position: absolute;
	right: 30px;
	top: 15px;
	z-index: 3;
	border-radius: 10px;
	background-color: red;
	color: white;
}

.settings {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: white;
	z-index: 2;
}
.songlength-input {
	width: 50px;
}
.settings-limit {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	min-width: 350px;
	width: 100%;
	max-width: 450px;
}
.settings select {
	display: block;
	font-weight: bold;
	background-color: rgba(254, 254, 16, 0.497);
	height: 50px;
	width: fit-content;
	justify-content: center;
}
.limits-text {
	font-size: 20px;
	opacity: 100%;
}
.hints {
	display: flex;
	align-items: center;
}
.hints-checkbox {
	display: block;
	height: 25px;
	width: 50px;
}
.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
}
.buttons button {
	display: block;
	width: 80px;
	padding: 10px;
	border-radius: 10px;
}
.staff-container {
	display: flex;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 600px;
	width: 100%;
}

.grand-staff {
	display: flex;
	position: relative;
	height: 100%;
	margin: 0;
}
.note-container {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.lines {
	display: flex;
	position: relative;
	height: 100%;
	margin: 0;
}
.note {
	height: 7.14%;
	position: absolute;
	display: flex;
	width: 100%;
	margin: 0;
}

.note-img {
	position: relative;
	display: flex;
	height: 100%;
	margin: 0;
}
.note-name {
	display: block;
	position: relative;
	font-size: 70%;
	margin: 0;
	padding-top: 2%;
	background: transparent;
}

.C6-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: -5.91%;
	left: -10%;
}
.A5-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 1.52%;
	left: -10%;
}
.treble-C4-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 42.74%;
	left: -10%;
}
.A3-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 49.3%;
	left: -10%;
}
.bass-C4-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 64.12%;
	left: -10%;
}
.E4-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 57.2%;
	left: -10%;
}

.bass-C3-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 42.73%;
	left: -10%;
}
.E2-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 105.74%;
	left: -10%;
}
.C2-bar {
	position: absolute;
	background-color: black;
	width: 80%;
	height: 1%;
	top: 112.66%;
	left: -10%;
}
.BassC2-note {
	top: 109.62%;
}
.BassD2-note {
	top: 106.25%;
}
.BassE2-note {
	top: 102.53%;
}
.BassF2-note {
	top: 99.32%;
}
.BassG2-note {
	top: 95.56%;
}
.BassA2-note {
	top: 92.5%;
}
.BassB2-note {
	top: 88.68%;
}
.BassC3-note {
	top: 85.3%;
}
.BassD3-note {
	top: 81.75%;
}
.BassE3-note {
	top: 78.54%;
}
.BassF3-note {
	top: 74.66%;
}
.BassG3-note {
	top: 71.45%;
}
.BassA3-note {
	top: 67.56%;
}
.BassB3-note {
	top: 64.69%;
}

.BassC4-note {
	top: 60.97%;
}
.BassD4-note {
	top: 57.6%;
}
.BassE4-note {
	top: 53.9%;
}
.TrebleA3-note {
	top: 46.11%;
}
.TrebleB3-note {
	top: 43.24%;
}

.TrebleC4-note {
	top: 39.35%;
}
.TrebleD4-note {
	top: 36.65%;
}
.TrebleE4-note {
	top: 32.77%;
}

.TrebleF4-note {
	top: 29.72%;
}
.TrebleG4-note {
	top: 25.84%;
}
.TrebleA4-note {
	top: 22.8%;
}
.TrebleB4-note {
	top: 18.91%;
}
.TrebleC5-note {
	top: 15.71%;
}
.TrebleD5-note {
	top: 11.82%;
}
.TrebleE5-note {
	top: 8.95%;
}
.TrebleF5-note {
	top: 4.9%;
}
.TrebleG5-note {
	top: 2.03%;
}
.TrebleA5-note {
	top: -1.69%;
}
.TrebleB5-note {
	top: -5.23%;
}
.TrebleC6-note {
	top: -9.12%;
}
