* {
	box-sizing: border-box;
	/* outline: 1px solid limegreen !important; */
}
#root {
	height: 100%;
}
html,
body {
	height: 100%;
	margin: 0;
}
.App {
	height: 100%;
	overflow-x: auto;
}
.staff-container {
	display: flex;
	position: relative;
	width: 100%;
	row-gap: 100px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.large-container {
	margin: 50px;
}
.grand-staff {
	position: relative;
}
.note-container {
	position: relative;
	justify-content: center;
	align-items: center;
}
.lines {
	display: block;
	position: relative;
}
.note {
	width: 60px;

	position: absolute;
	display: flex;

	left: 0;
}

button {
	width: 100px;
	height: 100px;
}
.buttons {
	display: flex;
	gap: 50px;
	justify-content: center;
}
#checkbox {
	height: 100px;
	width: 100px;
}
.top-bar {
	position: absolute;
	background-color: black;
	width: 100%;
	height: 6px;
	top: -4.5px;
}
.middle-c-bar {
	position: absolute;
	background-color: black;
	width: 120%;
	height: 6px;
	top: 251px;
	left: -13px;
}
.a3-bar {
	position: absolute;
	background-color: black;
	width: 120%;
	height: 6px;
	top: 289px;
	left: -13px;
}
.F2-note {
}
.G2-note {
}
.A2-note {
	top: 266px;
}
.B2-note {
	top: 250px;
}
.C3-note {
	top: 232px;
}
.D3-note {
	top: 216px;
}
.E3-note {
	top: 177px;
}
.F3-note {
	top: 195px;
}
.G3-note {
	top: 154px;
}
.A3-note {
	top: 134px;
}
.B3-note {
	top: 112px;
}

.C4-note {
	top: 95px;
}
.D4-note {
	top: 71px;
}
.E4-note {
	top: 53px;
}

.F4-note {
	top: 30px;
}
.G4-note {
	top: 12px;
}
.A4-note {
	top: -2px;
}
.B4-note {
	top: 112px;
}
.C5-note {
	top: 95px;
}
.D5-note {
	top: 71px;
}
.E5-note {
	top: 53px;
}
.F5-note {
	top: 177px;
}
.G5-note {
}
.A5-note {
}
.B5-note {
}
.C6-note {
}
.D6-note {
}
.E6-note {
}
.note-img {
	width: 100%;
	position: relative;
}
.note-name {
	font-size: 20px;
	margin: 0;
	background: transparent;
}
