* {
	box-sizing: border-box;
	/* outline: 1px solid limegreen !important; */
}
#root {
	height: 100%;
}
html,
body {
	height: 100%;
	margin: 0;
}
.App {
	height: 100%;
}
.staff-container {
	display: flex;
	position: relative;

	row-gap: 100px;
}
.grand-staff {
	position: relative;
}
.note-container {
	position: relative;
	justify-content: center;
	align-items: center;
}
.lines {
	display: block;
	position: relative;
}
.note {
	width: 60px;

	position: absolute;
	display: flex;

	left: 0;
}
.C-note {
	top: 95px;
}
.D-note {
	top: 71px;
}
.E-note {
	top: 53px;
}
.F-note {
	top: 177px;
}
.G-note {
	top: 154px;
}
.A-note {
	top: 135px;
}
.B-note {
	top: 112px;
}
.note-img {
	width: 100%;
	position: relative;
}
.note-name {
	font-size: 20px;
	margin: 0;
	background: transparent;
}
.link {
}

#go-here {
	position: relative;
	font-size: x-large;
	left: 5000px;
}
